name: Test and Vet

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test and vet
        run: |
          go vet ./...
          go test -v ./...